.shop {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  max-width: 1200px;
  margin: auto;

  &__image {
    width: 100%;
    margin-bottom: 2rem;

    &--child {
      height: auto;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 0.5em;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__phone {
    display: flex;
    color: inherit;
    align-items: center;
  }

  &__address {
    display: flex;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;

    &:before {
      content: '';
      width: 100%;
      height: 1px;
      margin-bottom: 1rem;
      background-color: $text-color;
    }
  }
}

@media screen and (min-width: $tablet){
  .shop {
    flex-direction: row;

    &__image {
      max-width: 435px;
      margin-bottom: 0;
      height: auto;
    }

    &__container {
      align-items: flex-start;
      width: 100%;
      padding: 2rem;
    }
  }
}