.container {
  position: relative;

  &:before {
    @include darker-background;
  }

  &__slider {
    margin: auto;
  }
}

@media screen and (min-width: $tablet) {
  .container {
    &__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1em;
    }

    &__center {
      max-width: 564px;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: $laptop) {
  .container {
    &__center {
      max-width: initial;
    }
  }
}