.cta {
  display: flex;
  gap: 0.5em;
  position: relative;
  border-radius: 6px;
  background-color: $cta-background-color;
  border: 1px solid $cta-background-color;
  color: $cta-text-color;
  padding: 15px 15px;
  font-weight: bold;
  text-align: center;
  transition: .3s;

  &:hover,
  &:focus {
    background-color: #E29163;
    border-color: #E29163;
    color: $text-color;
  }

  &[data-variant="secondary"] {
    border: 1px solid $alt-cta-background-color;
    background-color: $alt-cta-background-color;
    color: $text-color;

    &:hover,
    &:focus {
      background-color: transparent;
      color: $alt-text-color;
    }
  }

  &[data-variant="tertiary"] {
    border: 1px solid $text-color;
    background-color: $text-color;
    color: $alt-text-color;

    &:hover,
    &:focus {
      background-color: transparent;
      color: $text-color;
    }
  }
}

@media screen and (min-width: $tablet) {
  .cta {
    padding: 20px 25px;
  }
}