.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 21px 24px;

  &__brand {
    display: inline-block;
    position: relative;
    z-index: 1;

    img {
      border-radius: 0;
    }
  }

  &__branding {
    bottom: 0;
    display: block;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-indent: 101%;
    top: 0;
    white-space: nowrap;
    z-index: 1;
  }

  &__link {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    padding: 1.4em;
    font-size: 1.5em;

    &:after {
      content: '';
      width: 0;
      height: 1px;
      background-color: $text-color;
      transition: .3s;
      margin-top: 2px;
    }

    &:hover:after,
    &:focus:after {
      width: 20px;
    }

    &--contact {
      margin: 3rem 24px 0 24px;
      justify-self: flex-start;
      padding-top: 1.3rem;
      padding-bottom: 1.3rem;
      display: flex;
      justify-content: space-between;
    }
  }

  &__container {
    z-index: 9;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    background-color: $white;
    min-height: 100vh;
    transition: transform .3s ease;
    inset: 0;
  }
}

@media screen and (min-width: $laptop){
  .nav {
    align-items: center;
    justify-content: space-between;

    &__container {
      justify-content: normal;
      position: initial;
      transform: none;
      flex-direction: row;
      min-height: auto;
      width: auto;
      background-color: transparent;
    }

    &__link {
      font-size: 1.1em;
      padding: 1em;

      &--alt {
        font-size: 1.1em;
        padding: 1em;
        color: $alt-text-color;

        &:after {
          background-color: $alt-text-color;
        }
      }

      &--contact {
        margin: 0 0 0 1.5em;
      }
    }
  }
}