.legal {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: $laptop) {
  .legal {
    align-items: flex-start;
    text-align: left;
    & > p {
      max-width: 550px;
    }

    & > h2 {
      margin-bottom: 0.5em;
    }
  }
}