/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.sro {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  /*clip-path: inset(50%);*/
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  color: #1B2B39;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h2 {
  font-size: 31px;
  margin-bottom: 1em;
  text-align: center;
}

a {
  text-decoration: none;
  color: #1B2B39;
  display: inline-block;
}

a.active {
  color: #265A79;
  font-weight: bold;
}
a.active:after {
  width: 20px;
  background-color: #265A79;
}

.container {
  position: relative;
}
.container:before {
  z-index: 0;
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background: rgb(25, 25, 25);
  background: -moz-linear-gradient(0deg, rgb(25, 25, 25) 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(0deg, rgb(25, 25, 25) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(0deg, rgb(25, 25, 25) 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#191919",endColorstr="#ffffff",GradientType=1);
}

.bg {
  background-color: #1B2B39;
}
.bg * {
  color: #F3F9FE;
}

.cta {
  border-radius: 6px;
  background-color: #265A79;
  border: 1px solid #265A79;
  color: #F3F9FE;
  padding: 15px 15px;
  font-weight: bold;
  text-align: center;
}
.cta[data-variant=secondary] {
  border: 1px solid #F3F9FE;
  background-color: transparent;
}
.cta[data-variant=tertiary] {
  border: 1px solid #265A79;
  color: #265A79;
  background-color: transparent;
}

header {
  display: block;
}

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 21px 0;
  padding-right: 24px;
  padding-left: 24px;
}
.nav__brand {
  display: inline-block;
  position: relative;
  z-index: 10;
}
.nav__branding {
  bottom: 0;
  display: block;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-indent: 101%;
  top: 0;
  white-space: nowrap;
  z-index: 1;
}
.nav__link {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  padding: 1.4em;
  font-size: 1.5em;
}
.nav__link:after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #1B2B39;
  transition: 0.3s;
  margin-top: 2px;
}
.nav__link:hover:after, .nav__link:focus:after {
  width: 20px;
}
.nav__container {
  z-index: 9;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(100%);
  right: 0;
  background-color: #FFFFFF;
  min-height: 100vh;
  width: 100%;
  transition: transform 0.3s ease;
}

.burger {
  display: flex;
  align-items: center;
  padding-left: 10px;
  z-index: 10;
}
.burger__line {
  transition: 0.3s;
  transform-origin: center 0;
}

input[id=burger] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  right: 24px;
  height: 44px;
  width: 22px;
  margin: 0;
  box-sizing: content-box;
  padding-left: 10px;
  z-index: 10;
}
input[id=burger]:checked ~ .nav__container {
  position: fixed;
  transform: translateX(0);
}
input[id=burger]:checked ~ .burger .burger__line:nth-child(2) {
  height: 0;
}
input[id=burger]:checked ~ .burger .burger__line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
input[id=burger]:checked ~ .burger .burger__line:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
  transform-origin: center 15px;
}

.footer {
  position: relative;
  padding: 35px 0;
  padding-right: 24px;
  padding-left: 24px;
}
.footer__brand {
  position: relative;
  margin-bottom: 1em;
}
.footer__quote {
  margin-bottom: 1.5em;
}
.footer__subtitle {
  margin-bottom: 1em;
}
.footer__container {
  margin-bottom: 35px;
}
.footer__upper {
  margin-bottom: 2em;
}

.social__link {
  overflow: hidden;
  width: 38px;
  line-height: 38px;
  border: 1px solid #F3F9FE;
  border-radius: 5px;
  text-align: center;
}
.social__link:after {
  content: "F";
}

.list__item {
  margin-bottom: 0.5em;
}

.legal {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  border-top: 1px solid #F3F9FE;
}
.legal__item {
  margin-bottom: 0.5em;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 103px 0 101px 0;
  padding-right: 24px;
  padding-left: 24px;
  text-align: center;
}
.hero__image {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__title {
  color: #F3F9FE;
  margin-bottom: 0.6em;
}
.hero__quote {
  color: #F3F9FE;
  margin-bottom: 1.6em;
}
.hero__container {
  display: flex;
  gap: 10px;
}

.news {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 45px 0;
  padding-right: 24px;
  padding-left: 24px;
}
.news__title {
  text-align: center;
  margin-bottom: 1em;
}

.newscard {
  position: relative;
  margin-bottom: 1em;
}
.newscard__container {
  position: relative;
}
.newscard__container--last {
  position: relative;
}
.newscard__container--last:before {
  z-index: 0;
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background: rgb(25, 25, 25);
  background: -moz-linear-gradient(0deg, rgb(25, 25, 25) 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(0deg, rgb(25, 25, 25) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(0deg, rgb(25, 25, 25) 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#191919",endColorstr="#ffffff",GradientType=1);
  border-radius: 10px;
}
.newscard__img {
  width: 100%;
  height: 159px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-bottom: 0.6em;
}
.newscard__img--last {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.newscard__title {
  position: relative;
  font-size: 1.2em;
}
.newscard__title--last {
  position: absolute;
  bottom: 24px;
  right: 15px;
  left: 15px;
  font-size: 22px;
  color: #F3F9FE;
}
.newscard__link {
  text-indent: -999px;
  overflow: hidden;
  position: absolute;
  inset: 0;
}

.statistics {
  position: relative;
  padding: 45px 0;
  text-align: center;
  padding-right: 24px;
  padding-left: 24px;
}

.statcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.2em;
}
.statcard__number {
  font-size: 46px;
  margin-bottom: 0.4em;
}
.statcard__text {
  max-width: 150px;
}

.testimonials {
  padding: 45px 0;
  padding-right: 24px;
  padding-left: 24px;
}
.testimonials__title {
  text-align: center;
}
.testimonials__container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 10px;
}

.testimonialcard {
  display: flex;
  flex-direction: column;
  min-width: 272px;
  padding: 45px 24px;
  background-color: #E9F1F7;
  border-radius: 10px;
  scroll-snap-align: start;
}
.testimonialcard:before {
  display: block;
  content: url("../img/quote.svg");
  width: 51px;
  height: auto;
  margin-bottom: 2em;
}
.testimonialcard__text {
  margin-bottom: 1.8em;
}
.testimonialcard__name {
  padding-top: 1em;
  border-top: 1px solid #1B2B39;
  font-size: 1.2em;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 90px 0;
  padding-right: 24px;
  padding-left: 24px;
}
.contact__container {
  display: flex;
  gap: 10px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 90px 0;
  padding-right: 24px;
  padding-left: 24px;
}
.contact__container {
  display: flex;
  gap: 10px;
}
