@import url(https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.sro {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
}

section {
  padding: 45px 24px;
}

@media screen and (min-width: 1024px) {
  section {
    max-width: 1200px;
    margin: auto;
    padding: 100px 24px;
  }
  header {
    max-width: 1200px;
    margin: auto;
  }
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.ttf?46fvgv") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
body {
  font-family: "Cabin", Helvetica, Arial, sans-serif;
  color: #272727;
}

p {
  line-height: 1.6;
}

h1, h2, h3, h4 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 31px;
  margin: 0 auto 1em auto;
  text-align: center;
  max-width: 716px;
}
h2[data-variant=secondary] {
  font-weight: normal;
  display: flex;
  flex-direction: column;
}
h2[data-variant=secondary] > span {
  font-weight: bold;
}
h2[data-variant=secondary] > strong {
  font-weight: bold;
}

h3[data-variant=secondary] {
  font-size: 1.8em;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
h3[data-variant=secondary] > span {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #272727;
  display: inline-block;
}

a.active {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

dt {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 0.3em;
}

dd {
  margin-bottom: 1em;
}

input, textarea, button {
  font-size: inherit;
  font-family: inherit;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 42px;
  }
}
@media screen and (min-width: 1024px) {
  h2 {
    font-size: 46px;
  }
  a.active {
    color: #272727;
  }
  a.active:after {
    width: 100%;
    background-color: #272727;
  }
  a.active-alt {
    color: #FFF9F7;
    font-weight: bold;
  }
  a.active-alt:after {
    width: 100%;
    background-color: #FFF9F7;
  }
}
/* TODO : A DEPLACER */
img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
}
[class^=icon-]:before, [class*=" icon-"]:before {
  font-family: "icomoon" !important;
  font-size: 1.1em;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 0.5em;
}

.icon-phone:before {
  content: "\e942";
}

.icon-location:before {
  content: "\e947";
}

.icon-notification:before {
  content: "\ea08";
}

.icon-checkmark:before {
  content: "\ea10";
}

.icon-arrow-up-right2:before {
  content: "\ea3b";
}

.icon-arrow-right2:before {
  content: "\ea3c";
}

.icon-facebook:before {
  content: "\ea90";
}

.no-opacity {
  opacity: 0;
}

.show-up {
  animation: showUp 1.5s;
}

@keyframes showUp {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes full-width {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
.slide-left {
  animation: slideLeft 1.5s;
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.slide-right {
  animation: slideRight 1.5s;
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.container {
  position: relative;
}
.container:before {
  z-index: 0;
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.8;
}
.container__slider {
  margin: auto;
}

@media screen and (min-width: 768px) {
  .container__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
  .container__center {
    max-width: 564px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .container__center {
    max-width: initial;
  }
}
[data-tag=wysiwyg] * {
  text-align: left;
}
[data-tag=wysiwyg] ul {
  list-style: initial;
  padding: 0 0.5em;
  margin-left: 1em;
  margin-bottom: 1em;
}
[data-tag=wysiwyg] li {
  margin: 1em 0;
}
[data-tag=wysiwyg] li:first-child {
  margin-top: 0;
}
[data-tag=wysiwyg] p {
  margin-bottom: 1.4em;
}
[data-tag=wysiwyg] h2, [data-tag=wysiwyg] h3, [data-tag=wysiwyg] h4, [data-tag=wysiwyg] h5, [data-tag=wysiwyg] h6 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0.6em;
}
[data-tag=wysiwyg] h3 {
  font-size: 1.3em;
}
[data-tag=wysiwyg] em {
  font-style: italic;
}

[data-tag=wysiwyg-post] * {
  text-align: left;
}
[data-tag=wysiwyg-post] ul {
  list-style: initial;
  padding: 0 0.5em;
  margin-left: 1em;
}
[data-tag=wysiwyg-post] li {
  margin: 1em 0;
}
[data-tag=wysiwyg-post] p {
  margin-bottom: 1.8em;
}
[data-tag=wysiwyg-post] h2, [data-tag=wysiwyg-post] h3, [data-tag=wysiwyg-post] h4, [data-tag=wysiwyg-post] h5, [data-tag=wysiwyg-post] h6 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0.6em;
}
[data-tag=wysiwyg-post] h3 {
  font-size: 1.3em;
}
[data-tag=wysiwyg-post] img {
  max-width: 450px;
  height: auto;
  float: left;
  margin: 1rem 1rem 1rem 0;
}
[data-tag=wysiwyg-post] img:nth-child(even) {
  float: right;
  margin: 1rem 0 1rem 1rem;
}
[data-tag=wysiwyg-post] a {
  text-decoration: underline;
  opacity: 0.8;
}
[data-tag=wysiwyg-post] em {
  font-style: italic;
}

.bg {
  background-color: #272727;
}
.bg * {
  color: #FFF9F7;
}

.cta {
  display: flex;
  gap: 0.5em;
  position: relative;
  border-radius: 6px;
  background-color: #CA6F3C;
  border: 1px solid #CA6F3C;
  color: #FFF9F7;
  padding: 15px 15px;
  font-weight: bold;
  text-align: center;
  transition: 0.3s;
}
.cta:hover, .cta:focus {
  background-color: #E29163;
  border-color: #E29163;
  color: #272727;
}
.cta[data-variant=secondary] {
  border: 1px solid #FFF9F7;
  background-color: #FFF9F7;
  color: #272727;
}
.cta[data-variant=secondary]:hover, .cta[data-variant=secondary]:focus {
  background-color: transparent;
  color: #FFF9F7;
}
.cta[data-variant=tertiary] {
  border: 1px solid #272727;
  background-color: #272727;
  color: #FFF9F7;
}
.cta[data-variant=tertiary]:hover, .cta[data-variant=tertiary]:focus {
  background-color: transparent;
  color: #272727;
}

@media screen and (min-width: 768px) {
  .cta {
    padding: 20px 25px;
  }
}
header {
  display: block;
  padding-top: 1rem;
}

.absolute {
  position: absolute;
  right: 0;
  left: 0;
}

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 21px 24px;
}
.nav__brand {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.nav__brand img {
  border-radius: 0;
}
.nav__branding {
  bottom: 0;
  display: block;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-indent: 101%;
  top: 0;
  white-space: nowrap;
  z-index: 1;
}
.nav__link {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  padding: 1em;
  font-size: 1.2em;
}
.nav__link:after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #272727;
  transition: 0.3s;
  margin-top: 2px;
}
.nav__link--contact {
  justify-self: flex-start;
  margin: 2em 1em;
  padding: 1em;
}
.nav__container {
  padding-top: 4rem;
  z-index: 9;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(100%);
  background-color: #FFFFFF;
  min-height: 100vh;
  transition: transform 0.3s ease;
  inset: 0;
}

@media screen and (min-width: 1024px) {
  .nav {
    align-items: center;
    justify-content: space-between;
  }
  .nav__container {
    justify-content: normal;
    position: initial;
    transform: none;
    flex-direction: row;
    min-height: auto;
    width: auto;
    background-color: transparent;
    padding-top: 0;
  }
  .nav__link {
    font-size: 1.1em;
    padding: 1em;
  }
  .nav__link:hover:after, .nav__link:focus:after {
    width: 100%;
  }
  .nav__link--alt {
    font-size: 1.1em;
    padding: 1em;
    color: #FFF9F7;
  }
  .nav__link--alt:after {
    background-color: #FFF9F7;
  }
  .nav__link--contact {
    margin: 0 0 0 1.5em;
    padding: 20px 25px;
  }
}
.burger {
  display: flex;
  align-items: center;
  padding-left: 10px;
  z-index: 10;
  cursor: pointer;
}
.burger__line {
  transition: 0.3s;
  transform-origin: center 0;
}

input[id=burger] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  right: 24px;
  height: 44px;
  width: 22px;
  margin: 0;
  box-sizing: content-box;
  padding-left: 10px;
  z-index: 10;
}
input[id=burger]:checked ~ .nav__container {
  position: fixed;
  transform: translateX(0);
}
body:has(input[id=burger]:checked) {
  overflow: hidden;
}
input[id=burger]:checked ~ .burger .burger__line {
  fill: #272727;
}
input[id=burger]:checked ~ .burger .burger__line:nth-child(2) {
  height: 0;
}
input[id=burger]:checked ~ .burger .burger__line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
input[id=burger]:checked ~ .burger .burger__line:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
  transform-origin: center 15px;
}

@media screen and (min-width: 1024px) {
  .burger, input[id=burger] {
    display: none;
  }
}
.img__container {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
}

@media screen and (min-width: 768px) {
  .img__container:after {
    position: absolute;
    z-index: -1;
    display: block;
    content: "";
    width: 100%;
    min-height: 100%;
    transform: translate(-10%, 10%);
    background-color: transparent;
    opacity: 0.7;
    background-image: radial-gradient(#CA6F3C 1.25px, rgba(255, 255, 255, 0) 1.25px);
    background-size: 25px 25px;
  }
  .img__container[data-variant=right] {
    position: relative;
  }
  .img__container[data-variant=right]:after {
    transform: translate(10%, 10%);
  }
  .img__container[data-variant=alt] {
    z-index: 10;
  }
  .img__container[data-variant=alt]:after {
    background-image: radial-gradient(#FFF9F7 1.25px, rgba(255, 255, 255, 0) 1.25px);
  }
}
.footer {
  position: relative;
  padding: 35px 0;
  padding-right: 24px;
  padding-left: 24px;
}
.footer__brand {
  position: relative;
  margin-bottom: 1em;
}
.footer__brand img {
  width: auto;
  border-radius: 0;
}
.footer__quote {
  margin-bottom: 1.5em;
}
.footer__subtitle {
  margin-bottom: 0.5em;
  font-size: 1.1em;
}
.footer__container {
  margin-bottom: 35px;
}
.footer__upper {
  margin-bottom: 2em;
}

@media screen and (min-width: 768px) {
  .footer__container--nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    padding: 60px;
  }
  .footer__upper {
    display: flex;
    justify-content: space-between;
  }
  .footer__container--nav {
    display: flex;
    flex-wrap: nowrap;
    gap: 10em;
  }
}
.sidebar h3 {
  font-size: 1.1em;
  margin-bottom: 0.5em;
}
.sidebar li {
  padding: 1em 0;
}
.sidebar ul {
  margin-bottom: 1.5em;
}

@media screen and (min-width: 768px) {
  .sidebar li {
    padding: 0.5em 0;
  }
}
.social__link {
  overflow: hidden;
  width: 38px;
  line-height: 38px;
  border: 1px solid #FFF9F7;
  border-radius: 5px;
  text-align: center;
  transition: 0.3s;
}
.social__link:hover, .social__link:focus {
  background-color: #FFF9F7;
  color: #272727;
}
.social__link:after {
  content: "\ea90";
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 0.3s;
}

.list__link {
  padding: 1em 0;
}

@media screen and (min-width: 768px) {
  .list__link {
    padding: 0.5em 0;
  }
}
.juridic {
  padding-top: 2em;
  border-top: 1px solid #FFF9F7;
}
.juridic__container {
  display: flex;
  flex-direction: column;
}
.juridic__item {
  margin-bottom: 0.5em;
}
.juridic__link--creator {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .juridic__container {
    flex-direction: row;
    gap: 1rem;
  }
  .juridic__legal {
    margin-left: auto;
  }
}
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10rem 24px;
  min-height: 70vh;
  text-align: center;
}
.hero__image {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0;
}
.hero__title {
  color: #FFF9F7;
  margin-bottom: 0.6em;
}
.hero__quote {
  color: #FFF9F7;
  margin-bottom: 1.6em;
}
.hero__container {
  display: flex;
  gap: 10px;
}

@media screen and (min-width: 1024px) {
  .hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
  }
  .hero__title {
    letter-spacing: 0.1rem;
    font-size: 52px;
    text-align: left;
    margin: 0 0 1em 0;
    max-width: 35rem;
  }
  .hero__quote {
    max-width: 590px;
  }
}
.news {
  position: relative;
  display: flex;
  flex-direction: column;
}
.news__title {
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  text-align: left;
}
.news__container--title {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .news__container--grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column: span 2;
    gap: 0.8em;
  }
}
@media screen and (min-width: 1024px) {
  .news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
  .news__title {
    grid-column: span 2;
  }
  .news__container--grid-4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }
}
.newscard {
  position: relative;
  margin-bottom: 1em;
}
.newscard:first-child .newscard__container {
  color: #FFF9F7;
  position: relative;
  height: 400px;
}
.newscard:first-child .newscard__container:before {
  z-index: 0;
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background: rgb(25, 25, 25);
  background: -moz-linear-gradient(0deg, rgb(25, 25, 25) 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(0deg, rgb(25, 25, 25) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(0deg, rgb(25, 25, 25) 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#191919",endColorstr="#ffffff",GradientType=1);
  opacity: 0.8;
  border-radius: 10px;
}
.newscard:first-child .news__container--info {
  position: absolute;
  bottom: 0;
  padding: 1.3rem;
  color: #FFF9F7;
}
.newscard:first-child .newscard__img {
  width: 100%;
  max-height: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.newscard:first-child .newscard__title {
  font-size: 1.4em;
  margin-bottom: 0.5em;
  text-overflow: initial;
  max-width: 35rem;
  white-space: wrap;
  overflow: visible;
}
.newscard__container {
  position: relative;
  overflow: hidden;
}
.newscard__img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-bottom: 0.6em;
}
.newscard__title {
  position: relative;
  font-size: 1.2em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.newscard__link {
  position: absolute;
  inset: 0;
}
.newscard__view {
  color: #FFF9F7;
  position: absolute;
  bottom: 1.3rem;
  right: 1.3rem;
  line-height: 1.6;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.newscard__view:before {
  margin-left: 0.5rem;
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .newscard {
    margin-bottom: 0;
  }
  .news__container--grid-4 .newscard:first-child {
    grid-column: span 3;
  }
  .news__container--grid .newscard:first-child {
    grid-column: span 2;
    grid-row: span 2;
  }
  .newscard:first-child .newscard__container {
    height: 100%;
  }
  .newscard:first-child .news__container--info {
    max-width: 35rem;
  }
  .newscard:first-child .newscard__title {
    font-size: 2.4em;
    margin-bottom: 0.3em;
  }
  .newscard__title {
    max-width: 277px;
  }
}
.statistics {
  position: relative;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .statistics__container {
    display: flex;
    justify-content: center;
    gap: 5em;
  }
}
@media screen and (min-width: 1024px) {
  .statistics__container {
    justify-content: space-around;
  }
}
.statcard {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
  text-align: left;
}
.statcard__number {
  font-size: 46px;
  margin-bottom: 0.4em;
  font-weight: 600;
  padding-bottom: 2rem;
  border-bottom: 1px solid #FFF;
}
.statcard__text {
  max-width: 150px;
}

@media screen and (min-width: 768px) {
  .statcard {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  .statcard__number {
    font-size: 72px;
  }
}
.testimonials {
  padding-bottom: 0;
}
.testimonials__title {
  text-align: center;
}
.testimonials__container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 1em;
  padding: 1em;
}

.testimonialcard {
  display: flex;
  flex-direction: column;
  min-width: 272px;
  padding: 45px 24px;
  background-color: #FBE9DF;
  border-radius: 10px;
  scroll-snap-align: center;
}
.testimonialcard:before {
  display: block;
  content: url("../img/quote.svg");
  width: 51px;
  height: auto;
  margin-bottom: 2em;
}
.testimonialcard__container {
  margin-top: auto;
}
.testimonialcard__text {
  margin-bottom: 1.8em;
}
.testimonialcard__name {
  padding-top: 1em;
  border-top: 1px solid #272727;
  font-size: 1.2em;
}

@media screen and (min-width: 768px) {
  .testimonialcard {
    min-width: 30rem;
  }
}
@media screen and (min-width: 1024px) {
  .testimonialcard {
    padding: 45px 35px;
    min-height: 458px;
  }
}
.slider__container--button {
  display: flex;
  justify-content: center;
  gap: 2em;
}
.slider__button {
  font-size: 1.6em;
  padding: 1em;
  cursor: pointer;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 0.3s;
}
.slider__button:after {
  display: block;
  transition: 0.3s ease-out;
}
.slider__button[data-id=prev]:after {
  content: "\ea3c";
  transform: rotate(180deg);
}
.slider__button[data-id=prev]:hover:after, .slider__button[data-id=prev]:focus:after {
  transform: rotate(180deg) translateX(15px);
}
.slider__button[data-id=next]:after {
  content: "\ea3c";
}
.slider__button[data-id=next]:hover:after, .slider__button[data-id=next]:focus:after {
  transform: translateX(15px);
}

.no-snap {
  scroll-snap-type: none;
}

.help {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 90px 24px;
}
.help__title {
  text-align: left;
  margin: 0 0 1em 0;
}
.help__text {
  max-width: 32rem;
  margin-bottom: 1.8em;
}
.help__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.help__container--cta {
  display: flex;
  gap: 10px;
}
.help__img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 250px;
}

@media screen and (min-width: 768px) {
  .help {
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }
  .help__img {
    max-width: 340px;
    max-height: 35rem;
  }
}
@media screen and (min-width: 1024px) {
  .help {
    padding: 172px 24px;
  }
  .help__img {
    max-width: 500px;
    height: auto;
  }
}
.mission {
  display: flex;
  flex-direction: column;
}
.mission__title {
  margin: 0 0 1em 0;
  text-align: left;
}
.mission__image {
  margin-bottom: 1.4em;
}

@media screen and (min-width: 768px) {
  .mission {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 4em;
         column-gap: 4em;
  }
  .mission__title {
    grid-column: span 2;
    margin: 0 0 1em 0;
    text-align: left;
  }
  .mission__content, .mission__image {
    margin: 0;
  }
  .img__container:has(.mission__image) {
    order: 1;
  }
  .mission__image {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .mission {
    -moz-column-gap: 10em;
         column-gap: 10em;
    align-items: center;
  }
}
.houses {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}
.houses__container--upper {
  padding: 45px 24px;
}
.houses__container--bg {
  padding: 45px 0;
}
.houses__container--bg:nth-child(even) {
  background-color: #272727;
  color: #FFF9F7;
}
.houses__container--bg:nth-child(even) .img__container {
  position: relative;
  z-index: 10;
}
.houses__container--bg:nth-child(even) .img__container:after {
  background-image: radial-gradient(#FFF9F7 1.25px, rgba(255, 255, 255, 0) 1.25px);
  transform: translate(5%, 5%);
}
.houses__container--bg:nth-child(even) > .house {
  flex-direction: row-reverse;
}
.houses__container--bg:nth-child(odd) .house__address {
  border-bottom: 1px solid #272727;
}
.houses__container--bg:nth-child(odd) .img__container:after {
  transform: translate(-5%, 5%);
}
.houses__content {
  max-width: 487px;
}
.houses__title {
  text-align: left;
  margin: 0 0 1em 0;
}

@media screen and (min-width: 768px) {
  .houses__container {
    gap: 2rem;
  }
  .houses__container--upper {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
    width: 100%;
    gap: 5rem;
  }
  .houses__container--bg {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
@media screen and (min-width: 1024px) {
  .houses__container--upper {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .houses__content {
    margin-bottom: 5em;
  }
}
.house {
  padding-bottom: 2rem;
  max-width: 1200px;
  margin: auto;
  padding-left: 24px;
  padding-right: 24px;
}
.house__address {
  font-weight: bold;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #FFF9F7;
  padding-bottom: 2rem;
}
.house__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 400px;
}
.house__link {
  color: inherit;
}

@media screen and (min-width: 768px) {
  .house {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
  }
  .house__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 550px;
  }
  .house__image {
    height: 100%;
    max-height: 650px;
    width: 100%;
    min-width: 400px;
  }
  .house__image--child {
    height: auto;
  }
}
@media screen and (min-width: 1024px) {
  .house {
    padding-bottom: 0;
    gap: 5rem;
  }
  .house__image {
    order: -1;
  }
}
.history {
  display: flex;
  flex-direction: column;
}
.history__title {
  margin: 0 0 1em 0;
  text-align: left;
}
.history__image {
  margin-bottom: 1.4em;
}

@media screen and (min-width: 768px) {
  .history {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 4em;
         column-gap: 4em;
    padding-top: 0;
  }
  .history__title {
    grid-column: span 2;
    text-align: left;
    margin: 0 0 1em 0;
  }
  .history__content, .history__image {
    margin: 0;
  }
  .history__image {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .history {
    -moz-column-gap: 10em;
         column-gap: 10em;
    align-items: center;
  }
  .history__image {
    min-height: 295px;
  }
}
.more {
  display: flex;
  flex-direction: column;
}
.more__title {
  text-align: left;
}
.more__text {
  margin-bottom: 1.8em;
}
.more__container {
  display: flex;
  flex-direction: column;
}
.more__link {
  width: 100%;
  padding: 1em 0;
  font-size: 1.2em;
  border-bottom: 1px solid #F3F9FE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10em;
  transition: 0.3s ease-out;
  position: relative;
}
.more__link:hover, .more__link:focus {
  padding-left: 0.8rem;
  font-weight: bold;
}
.more__link:before {
  position: relative;
  z-index: 1;
  transition: 0.3s ease-out;
}
.more__link:after {
  display: block;
  content: "";
  position: absolute;
  background-color: #fff;
  right: 0;
  width: 0;
  top: 0;
  bottom: 0;
  transition: 0.3s ease-out;
}
.more__link:hover:after, .more__link:focus:after {
  width: 44px;
}
.more__link:hover:before, .more__link:focus:before {
  transform: rotate(45deg);
  color: #272727;
}

@media screen and (min-width: 768px) {
  .more {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .more__upper {
    max-width: 400px;
  }
  .more__container {
    width: 500px;
  }
}
.support {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-bottom: 0;
}
.support__text {
  max-width: 436px;
}

.material {
  display: flex;
  flex-direction: column;
}
.material__title {
  text-align: left;
}
.material__content {
  margin-bottom: 1.2em;
  display: flex;
  flex-direction: column;
}
.material__cta {
  align-self: flex-start;
}

@media screen and (min-width: 768px) {
  .material {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 4em;
         column-gap: 4em;
  }
  .material__title {
    grid-column: span 2;
  }
  .material__content, .material__image {
    margin: 0;
  }
  .material__container--img {
    height: 100%;
  }
  .material__image {
    height: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .material {
    -moz-column-gap: 10em;
         column-gap: 10em;
    align-items: center;
  }
  .material__title {
    margin-left: 0;
    margin-right: 0;
  }
  .material__image {
    min-height: 295px;
  }
}
.financial {
  display: flex;
  flex-direction: column;
}
.financial__title {
  text-align: left;
}
.financial__content {
  margin-bottom: 1.2em;
}

@media screen and (min-width: 768px) {
  .financial {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 4em;
         column-gap: 4em;
  }
  .financial__title {
    grid-column: span 2;
  }
  .financial__content, .financial__image {
    margin: 0;
  }
  .financial__content {
    order: 1;
  }
  .financial__container--img {
    height: 100%;
  }
  .financial__image {
    height: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .financial {
    -moz-column-gap: 10em;
         column-gap: 10em;
    align-items: center;
  }
  .financial__title {
    margin-left: 0;
    margin-right: 0;
  }
  .financial__image {
    min-height: 295px;
  }
}
.volunteer {
  display: flex;
  flex-direction: column;
  padding: 90px 24px;
}
.volunteer__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 3rem;
}
.volunteer__img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 250px;
}
.volunteer__img--child {
  height: auto;
}
.volunteer__title {
  text-align: left;
  margin: 0 0 1em 0;
}
.volunteer__text {
  margin-bottom: 1.4em;
  max-width: 646px;
}

@media screen and (min-width: 768px) {
  .volunteer {
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }
  .volunteer__img {
    max-width: 340px;
    max-height: 30rem;
  }
}
@media screen and (min-width: 1024px) {
  .volunteer {
    padding: 172px 24px;
  }
  .volunteer__img {
    max-width: 500px;
    height: auto;
  }
}
.shops__upper {
  display: flex;
  flex-direction: column;
  padding: 45px 24px;
  max-width: 1200px;
  margin: auto;
}
.shops__text {
  max-width: 593px;
}
.shops__title {
  margin: 0 0 1em 0;
  text-align: left;
}
.shops__container--bg {
  padding: 100px 0;
}
.shops__container--bg:nth-child(even) {
  background-color: #272727;
  color: #FFF9F7;
}
.shops__container--bg:nth-child(even) .shop__content:before {
  background-color: #FFF9F7;
}
.shops__container--bg:nth-child(even) .img__container {
  position: relative;
  z-index: 1;
}
.shops__container--bg:nth-child(even) .img__container:after {
  background-image: radial-gradient(#FFF9F7 1.25px, rgba(255, 255, 255, 0) 1.25px);
}

@media screen and (min-width: 768px) {
  .shops__upper {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }
  .shops__title {
    margin: 0;
  }
}
@media screen and (min-width: 1024px) {
  .shops__upper {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.shop {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  max-width: 1200px;
  margin: auto;
}
.shop__image {
  width: 100%;
  margin-bottom: 2rem;
}
.shop__image--child {
  height: auto;
}
.shop__title {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 0.5em;
}
.shop__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.shop__phone {
  display: flex;
  color: inherit;
  align-items: center;
}
.shop__address {
  display: flex;
  align-items: center;
}
.shop__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
}
.shop__content:before {
  content: "";
  width: 100%;
  height: 1px;
  margin-bottom: 1rem;
  background-color: #272727;
}

@media screen and (min-width: 768px) {
  .shop {
    flex-direction: row;
  }
  .shop__image {
    max-width: 435px;
    margin-bottom: 0;
    height: auto;
  }
  .shop__container {
    align-items: flex-start;
    width: 100%;
    padding: 2rem;
  }
}
.contact {
  display: flex;
  flex-direction: column;
}
.contact__container {
  margin-bottom: 1.4em;
}
.contact__text {
  margin-bottom: 1.4em;
}
.contact__link {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 4em;
         column-gap: 4em;
  }
  .contact__title {
    grid-column: span 2;
  }
  .contact__upper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  .contact {
    -moz-column-gap: 10em;
         column-gap: 10em;
  }
}
.contactform {
  display: flex;
  flex-direction: column;
  padding: 45px 0;
}
.contactform__text {
  padding-bottom: 1.2em;
  border-bottom: 1px solid #283345;
  margin-bottom: 1.2em;
}
.contactform__text span {
  color: #D04343;
}

@media screen and (min-width: 768px) {
  .contactform {
    padding: 0;
  }
}
.field__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6em;
}
.field__label {
  font-weight: bold;
  padding-bottom: 0.8em;
}
.field__label[data-required=true]:after {
  content: " *";
  color: #D04343;
}
.field__input, .field__textarea {
  border: none;
  background-color: #FBE9DF;
  padding: 0.8em 1em;
  border-radius: 5px;
  font-size: 1em;
}
.field__error {
  color: #D04343;
  margin-top: 0.5em;
  display: flex;
  align-items: center;
}
.field__submit {
  cursor: pointer;
}
.field__valid {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  color: green;
  margin-bottom: 1em;
}

.location {
  display: flex;
  flex-direction: column;
  padding: 45px 0;
  padding-right: 24px;
  padding-left: 24px;
}

.article {
  display: flex;
  flex-direction: column;
}
.article__title {
  text-align: left;
}
.article__image {
  -o-object-fit: contain;
     object-fit: contain;
  height: auto;
  margin-bottom: 1.4em;
}
.article__author {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 0.3em;
}
.article__date {
  display: inline-block;
  margin-bottom: 1.4em;
}

@media screen and (min-width: 1024px) {
  .article__title {
    margin-left: 0;
    margin-right: 0;
  }
  .article__container {
    max-width: 720px;
    margin: auto;
  }
  .article__image {
    margin-bottom: 2em;
  }
  .article__date {
    margin-bottom: 2em;
  }
}
.other {
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

.othercard {
  position: relative;
  margin-bottom: 1em;
}
.othercard__container {
  position: relative;
  overflow: hidden;
}
.othercard__img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-bottom: 0.6em;
}
.othercard__title {
  position: relative;
  font-size: 1.2em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.othercard__link {
  position: absolute;
  inset: 0;
}
.othercard__view {
  color: #FFF9F7;
  position: absolute;
  bottom: 1.3rem;
  right: 1.3rem;
  line-height: 1.6;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.othercard__view:before {
  margin-left: 0.5rem;
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .othercard {
    margin-bottom: 0;
  }
  .othercard__title {
    max-width: 277px;
  }
}
.articles {
  display: flex;
  flex-direction: column;
}

.legal {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .legal {
    align-items: flex-start;
    text-align: left;
  }
  .legal > p {
    max-width: 550px;
  }
  .legal > h2 {
    margin-bottom: 0.5em;
  }
}
.notfound {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
}
.notfound__title {
  font-size: 5em;
  margin-bottom: 0.5em;
  text-align: left;
  margin-left: 0;
  margin-right: 0;
}
.notfound__text {
  font-size: 1.2em;
  margin-bottom: 1.5em;
}
