/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.sro {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  /*clip-path: inset(50%);*/
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
}

section {
  padding: 45px 24px;
}

@media screen and (min-width: 1024px) {
  section {
    max-width: 1200px;
    margin: auto;
    padding: 80px 24px;
  }
  header {
    max-width: 1200px;
    margin: auto;
  }
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.ttf?46fvgv") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
body {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  color: #1B2B39;
}

p {
  line-height: 1.6;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h2 {
  font-size: 31px;
  margin: 0 auto 1em auto;
  text-align: center;
  max-width: 716px;
}

a {
  text-decoration: none;
  color: #1B2B39;
  display: inline-block;
}

a.active {
  color: #265A79;
  font-weight: bold;
}
a.active:after {
  width: 20px;
  background-color: #265A79;
}

strong {
  font-weight: bold;
}

dt {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 0.3em;
}

dd {
  margin-bottom: 1em;
}

input, textarea, button {
  font-size: inherit;
  font-family: inherit;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 42px;
  }
}
@media screen and (min-width: 1024px) {
  h2 {
    font-size: 46px;
  }
}
/* TODO : A DEPLACER */
img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.container {
  position: relative;
}
.container:before {
  z-index: 0;
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background: rgb(25, 25, 25);
  background: -moz-linear-gradient(0deg, rgb(25, 25, 25) 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(0deg, rgb(25, 25, 25) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(0deg, rgb(25, 25, 25) 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#191919",endColorstr="#ffffff",GradientType=1);
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .container__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
  .container__center {
    max-width: 564px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .container__center {
    max-width: initial;
  }
}
[data-tag=wysiwyg] * {
  text-align: left;
}
[data-tag=wysiwyg] ul {
  list-style: initial;
  padding: 0 0.5em;
  margin-left: 1em;
}
[data-tag=wysiwyg] li {
  margin: 1em 0;
}
[data-tag=wysiwyg] p {
  margin-bottom: 1em;
}
[data-tag=wysiwyg] h2, [data-tag=wysiwyg] h3, [data-tag=wysiwyg] h4, [data-tag=wysiwyg] h5, [data-tag=wysiwyg] h6 {
  margin-left: 0;
  margin-right: 0;
}

.bg {
  background-color: #1B2B39;
}
.bg * {
  color: #F3F9FE;
}

.cta {
  display: flex;
  gap: 0.5em;
  position: relative;
  border-radius: 6px;
  background-color: #265A79;
  border: 1px solid #265A79;
  color: #F3F9FE;
  padding: 15px 15px;
  font-weight: bold;
  text-align: center;
  transition: 0.3s;
}
.cta:after {
  content: "\ea3c";
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 0.3s;
}
.cta:hover:after {
  transform: translateX(5px);
}
.cta:hover {
  background-color: #1B2B39;
  border-color: #1B2B39;
}
.cta[data-variant=secondary] {
  border: 1px solid #F3F9FE;
  background-color: transparent;
}
.cta[data-variant=secondary]:hover {
  background-color: #F3F9FE;
  color: #265A79;
}
.cta[data-variant=tertiary] {
  border: 1px solid #265A79;
  color: #265A79;
  background-color: transparent;
}
.cta[data-variant=tertiary]:hover {
  background-color: #265A79;
  color: #F3F9FE;
}

@media screen and (min-width: 768px) {
  .cta {
    padding: 20px 25px;
  }
}
header {
  display: block;
}

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 21px 24px;
}
.nav__brand {
  display: inline-block;
  position: relative;
  z-index: 10;
}
.nav__brand img {
  border-radius: 0;
}
.nav__branding {
  bottom: 0;
  display: block;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-indent: 101%;
  top: 0;
  white-space: nowrap;
  z-index: 1;
}
.nav__link {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  padding: 1.4em;
  font-size: 1.5em;
}
.nav__link:after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #1B2B39;
  transition: 0.3s;
  margin-top: 2px;
}
.nav__link:hover:after, .nav__link:focus:after {
  width: 20px;
}
.nav__container {
  z-index: 9;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(100%);
  right: 0;
  background-color: #FFFFFF;
  min-height: 100vh;
  width: 100%;
  transition: transform 0.3s ease;
}

@media screen and (min-width: 1024px) {
  .nav {
    align-items: center;
    justify-content: space-between;
  }
  .nav__container {
    justify-content: normal;
    position: initial;
    transform: none;
    flex-direction: row;
    min-height: auto;
    width: auto;
  }
  .nav__link {
    font-size: 1.1em;
    padding: 1em;
  }
  .nav__link--alt {
    margin-left: 1.5em;
  }
}
.burger {
  display: flex;
  align-items: center;
  padding-left: 10px;
  z-index: 10;
}
.burger__line {
  transition: 0.3s;
  transform-origin: center 0;
}

input[id=burger] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  right: 24px;
  height: 44px;
  width: 22px;
  margin: 0;
  box-sizing: content-box;
  padding-left: 10px;
  z-index: 10;
}
input[id=burger]:checked ~ .nav__container {
  position: fixed;
  transform: translateX(0);
}
input[id=burger]:checked ~ .burger .burger__line:nth-child(2) {
  height: 0;
}
input[id=burger]:checked ~ .burger .burger__line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
input[id=burger]:checked ~ .burger .burger__line:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
  transform-origin: center 15px;
}

@media screen and (min-width: 1024px) {
  .burger, input[id=burger] {
    display: none;
  }
}
.footer {
  position: relative;
  padding: 35px 0;
  padding-right: 24px;
  padding-left: 24px;
}
.footer__brand {
  position: relative;
  margin-bottom: 1em;
}
.footer__brand img {
  width: auto;
  border-radius: 0;
}
.footer__quote {
  margin-bottom: 1.5em;
}
.footer__subtitle {
  margin-bottom: 0.5em;
  font-size: 1.1em;
}
.footer__container {
  margin-bottom: 35px;
}
.footer__upper {
  margin-bottom: 2em;
}

@media screen and (min-width: 768px) {
  .footer__container--nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    padding: 60px;
  }
  .footer__upper {
    display: flex;
    justify-content: space-between;
  }
  .footer__container--nav {
    display: flex;
    flex-wrap: nowrap;
    gap: 10em;
  }
}
.social__link {
  overflow: hidden;
  width: 38px;
  line-height: 38px;
  border: 1px solid #F3F9FE;
  border-radius: 5px;
  text-align: center;
}
.social__link:after {
  content: "F";
}

.list__link {
  padding: 1em 0;
}

@media screen and (min-width: 768px) {
  .list__link {
    padding: 0.5em 0;
  }
}
.juridic {
  padding-top: 2em;
  border-top: 1px solid #F3F9FE;
}
.juridic__container {
  display: flex;
  flex-direction: column;
}
.juridic__item {
  margin-bottom: 0.5em;
}

@media screen and (min-width: 768px) {
  .juridic__container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 103px 24px 101px 24px;
  text-align: center;
}
.hero__image {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0;
}
.hero__title {
  color: #F3F9FE;
  margin-bottom: 0.6em;
}
.hero__quote {
  color: #F3F9FE;
  margin-bottom: 1.6em;
}
.hero__container {
  display: flex;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    padding: 190px 24px;
  }
  .hero__quote {
    max-width: 436px;
  }
}
.news {
  position: relative;
  display: flex;
  flex-direction: column;
}
.news__title {
  text-align: center;
  margin-bottom: 1em;
}

@media screen and (min-width: 768px) {
  .news__container--grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8em;
  }
}
@media screen and (min-width: 1024px) {
  .news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
  .news__title {
    grid-column: span 2;
  }
  .news__container--grid-4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }
}
.newscard {
  position: relative;
  margin-bottom: 1em;
}
.newscard--last {
  position: relative;
  margin-bottom: 1em;
}
.newscard__container {
  position: relative;
}
.newscard__container--last {
  position: relative;
}
.newscard__container--last:before {
  z-index: 0;
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background: rgb(25, 25, 25);
  background: -moz-linear-gradient(0deg, rgb(25, 25, 25) 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(0deg, rgb(25, 25, 25) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(0deg, rgb(25, 25, 25) 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#191919",endColorstr="#ffffff",GradientType=1);
  opacity: 0.8;
  border-radius: 10px;
}
.newscard__img {
  width: 100%;
  min-height: 159px;
  max-height: 213px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-bottom: 0.6em;
}
.newscard__img--last {
  width: 100%;
  min-height: 272px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.newscard__title {
  position: relative;
  font-size: 1.2em;
}
.newscard__title--last {
  position: absolute;
  bottom: 24px;
  right: 15px;
  left: 15px;
  font-size: 22px;
  color: #F3F9FE;
}
.newscard__link {
  position: absolute;
  inset: 0;
}

@media screen and (min-width: 1024px) {
  .newscard--last {
    position: relative;
    margin-bottom: 0;
  }
  .newscard__title--last {
    font-size: 2em;
    max-width: 720px;
    padding: 25px;
  }
  .newscard__container--last {
    height: 100%;
  }
  .newscard__img--last {
    height: 100%;
  }
}
.statistics {
  position: relative;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .statistics__container {
    display: flex;
    justify-content: center;
    gap: 5em;
  }
}
@media screen and (min-width: 1024px) {
  .statistics__container {
    justify-content: space-evenly;
  }
}
.statcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.2em;
}
.statcard__number {
  font-size: 46px;
  margin-bottom: 0.4em;
}
.statcard__text {
  max-width: 150px;
}

@media screen and (min-width: 1024px) {
  .statcard__number {
    font-size: 72px;
  }
}
.testimonials {
  padding-bottom: 0;
}
.testimonials__title {
  text-align: center;
}
.testimonials__container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .testimonials__container {
    gap: 1em;
  }
}
.testimonialcard {
  display: flex;
  flex-direction: column;
  min-width: 272px;
  padding: 45px 24px;
  background-color: #E9F1F7;
  border-radius: 10px;
  scroll-snap-align: center;
}
.testimonialcard:before {
  display: block;
  content: url("../img/quote.svg");
  width: 51px;
  height: auto;
  margin-bottom: 2em;
}
.testimonialcard__container {
  margin-top: auto;
}
.testimonialcard__text {
  margin-bottom: 1.8em;
}
.testimonialcard__name {
  padding-top: 1em;
  border-top: 1px solid #1B2B39;
  font-size: 1.2em;
}

@media screen and (min-width: 768px) {
  .testimonialcard {
    min-width: 30rem;
  }
}
@media screen and (min-width: 1024px) {
  .testimonialcard {
    padding: 45px 35px;
    min-height: 458px;
  }
}
.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 90px 24px;
}
.help__container {
  display: flex;
  gap: 10px;
}

@media screen and (min-width: 1024px) {
  .help {
    padding: 172px 24px;
  }
}
.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mission__image {
  margin-bottom: 1.4em;
}

@media screen and (min-width: 768px) {
  .mission {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 4em;
         column-gap: 4em;
  }
  .mission__title {
    grid-column: span 2;
  }
  .mission__content, .mission__image {
    margin: 0;
  }
  .mission__image {
    order: 1;
    min-height: 295px;
  }
}
@media screen and (min-width: 1024px) {
  .mission {
    -moz-column-gap: 10em;
         column-gap: 10em;
    align-items: center;
  }
  .mission__image {
    min-height: 295px;
  }
}
.history {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.history__image {
  margin-bottom: 1.4em;
}

@media screen and (min-width: 768px) {
  .history {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 4em;
         column-gap: 4em;
  }
  .history__title {
    grid-column: span 2;
  }
  .history__content, .history__image {
    margin: 0;
  }
}
@media screen and (min-width: 1024px) {
  .history {
    -moz-column-gap: 10em;
         column-gap: 10em;
    align-items: center;
  }
  .history__image {
    min-height: 295px;
  }
}
.more {
  display: flex;
  flex-direction: column;
}
.more__title {
  text-align: left;
}
.more__text {
  margin-bottom: 1.8em;
}
.more__container {
  display: flex;
  flex-direction: column;
}
.more__link {
  width: 100%;
  padding: 1em 0;
  font-size: 1.2em;
  border-bottom: 1px solid #F3F9FE;
  display: flex;
  justify-content: space-between;
  gap: 10em;
}
.more__link:after {
  content: url("../img/arrow.svg");
}

@media screen and (min-width: 768px) {
  .more {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .more__upper {
    max-width: 400px;
  }
  .more__container {
    width: 500px;
  }
}
.support {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-bottom: 0;
}
.support__text {
  max-width: 436px;
}

.material {
  display: flex;
  flex-direction: column;
}
.material__title {
  text-align: left;
}
.material__content {
  margin-bottom: 1.2em;
}

@media screen and (min-width: 768px) {
  .material {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 4em;
         column-gap: 4em;
  }
  .material__title {
    grid-column: span 2;
  }
  .material__content, .material__image {
    margin: 0;
  }
}
@media screen and (min-width: 1024px) {
  .material {
    -moz-column-gap: 10em;
         column-gap: 10em;
    align-items: center;
  }
  .material__title {
    margin-left: 0;
    margin-right: 0;
  }
  .material__image {
    min-height: 295px;
  }
}
.financial {
  display: flex;
  flex-direction: column;
}
.financial__title {
  text-align: left;
}
.financial__content {
  margin-bottom: 1.2em;
}

@media screen and (min-width: 768px) {
  .financial {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 4em;
         column-gap: 4em;
  }
  .financial__title {
    grid-column: span 2;
  }
  .financial__content, .financial__image {
    margin: 0;
  }
  .financial__content {
    order: 1;
  }
}
@media screen and (min-width: 1024px) {
  .financial {
    -moz-column-gap: 10em;
         column-gap: 10em;
    align-items: center;
  }
  .financial__title {
    margin-left: 0;
    margin-right: 0;
  }
  .financial__image {
    min-height: 295px;
  }
}
.volunteer {
  display: flex;
  flex-direction: column;
  padding: 90px 24px;
  align-items: center;
  text-align: center;
}
.volunteer__text {
  margin-bottom: 1.4em;
  max-width: 646px;
}

@media screen and (min-width: 1024px) {
  .volunteer {
    padding: 172px 24px;
  }
}
.contact {
  display: flex;
  flex-direction: column;
}
.contact__container {
  margin-bottom: 1.4em;
}
.contact__text {
  margin-bottom: 1.4em;
}
.contact__link {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 4em;
         column-gap: 4em;
  }
  .contact__title {
    grid-column: span 2;
  }
  .contact__upper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  .contact {
    -moz-column-gap: 10em;
         column-gap: 10em;
  }
}
.contactform {
  display: flex;
  flex-direction: column;
  padding: 45px 0;
}
.contactform__text {
  padding-bottom: 1.2em;
  border-bottom: 1px solid #1B2B39;
  margin-bottom: 1.2em;
}
.contactform__text span {
  color: #D04343;
}

@media screen and (min-width: 768px) {
  .contactform {
    padding: 0;
  }
}
.field__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6em;
}
.field__label {
  font-weight: bold;
  padding-bottom: 0.8em;
}
.field__label[data-required=true]:after {
  content: " *";
  color: #D04343;
}
.field__input, .field__textarea {
  border: none;
  background-color: #E9F1F7;
  padding: 0.8em 1em;
  border-radius: 5px;
  font-size: 1em;
}
.field__error {
  color: #D04343;
  margin-top: 0.5em;
}

.location {
  display: flex;
  flex-direction: column;
  padding: 45px 0;
  padding-right: 24px;
  padding-left: 24px;
}

.article {
  display: flex;
  flex-direction: column;
}
.article__title {
  text-align: left;
}
.article__image {
  -o-object-fit: contain;
     object-fit: contain;
  height: auto;
  margin-bottom: 1.4em;
}
.article__author {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 0.3em;
}
.article__date {
  display: inline-block;
  margin-bottom: 1.4em;
}

@media screen and (min-width: 1024px) {
  .article__title {
    margin-left: 0;
    margin-right: 0;
  }
  .article__container {
    max-width: 720px;
    margin: auto;
  }
  .article__image {
    margin-bottom: 2em;
  }
  .article__date {
    margin-bottom: 2em;
  }
}
.other {
  display: flex;
  flex-direction: column;
}

.articles {
  display: flex;
  flex-direction: column;
}

.legal {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .legal {
    align-items: flex-start;
    text-align: left;
  }
  .legal > p {
    max-width: 550px;
  }
  .legal > h2 {
    margin-bottom: 0.5em;
  }
}
.notfound {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
}
.notfound__title {
  font-size: 5em;
  margin-bottom: 0.5em;
  text-align: left;
  margin-left: 0;
  margin-right: 0;
}
.notfound__text {
  font-size: 1.2em;
  margin-bottom: 1.5em;
}
