.contactform {
  display: flex;
  flex-direction: column;
  padding: 45px 0;
  @include side-padding-section;

  &__text {
    padding-bottom: 1.2em;
    border-bottom: 1px solid $border-color;
    margin-bottom: 1.2em;

    span {
      color: $red;
    }
  }
}