.contact {
  display: flex;
  flex-direction: column;
  padding: 45px 0;
  @include side-padding-section;

  &__container {
    margin-bottom: 1.4em;
  }

  &__text {
    margin-bottom: 1.4em;
  }

  &__link {
    text-decoration: underline;
  }
}

@media screen and (min-width: $tablet) {
  .contact {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &__upper, &__lower {
      width: 49%;
    }

    &__title {
      flex: 0 0 100%;
    }
  }


}