.contactform {
  display: flex;
  flex-direction: column;
  padding: 45px 0;

  &__text {
    padding-bottom: 1.2em;
    border-bottom: 1px solid $border-color;
    margin-bottom: 1.2em;

    span {
      color: $red;
    }
  }
}

@media screen and (min-width: $tablet) {
  .contactform {
    padding: 0;
  }
}