.contact {
  display: flex;
  flex-direction: column;

  &__container {
    margin-bottom: 1.4em;
  }

  &__text {
    margin-bottom: 1.4em;
  }

  &__link {
    text-decoration: underline;
  }
}

@media screen and (min-width: $tablet) {
  .contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4em;

    &__title {
      grid-column: span 2;
    }

    &__upper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }


}

@media screen and (min-width: $laptop) {
  .contact {
    column-gap: 10em;
  }
}