.article {
  display: flex;
  flex-direction: column;

  &__title {
    text-align: left;
  }

  &__image {
    object-fit: contain;
    height: auto;
    margin-bottom: 1.4em;
  }

  &__author {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 0.3em;
  }

  &__date {
    display: inline-block;
    margin-bottom: 1.4em;
  }
}

@media screen and (min-width: $laptop) {
  .article {
    &__title {
      margin-left: 0;
      margin-right: 0;

    }

    &__container {
      max-width: 720px;
      margin: auto;
    }

    &__image {
      margin-bottom: 2em;
    }

    &__date {
      margin-bottom: 2em;
    }
  }
}