.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 90px 24px;

  &__container {
    display: flex;
    gap: 10px;
  }
}

@media screen and (min-width: $laptop) {
  .help {
    padding: 172px 24px;
  }
}