.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10rem 24px;
  min-height: 70vh;
  text-align: center;

  &__image {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
  }

  &__title {
    color: $alt-text-color;
    margin-bottom: 0.6em;
  }

  &__quote {
    color: $alt-text-color;
    margin-bottom: 1.6em;
  }

  &__container {
    display: flex;
    gap: 10px;
  }
}

@media screen and (min-width: $tablet) {
  .hero {
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
      font-size: 52px;
    }

    &__quote {
      max-width: 436px;
    }
  }
}