.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 103px 24px 101px 24px;
  text-align: center;

  &__image {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
  }

  &__title {
    color: $alt-text-color;
    margin-bottom: 0.6em;
  }

  &__quote {
    color: $alt-text-color;
    margin-bottom: 1.6em;
  }

  &__container {
    display: flex;
    gap: 10px;
  }
}

@media screen and (min-width: $tablet) {
  .hero {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    padding: 190px 24px;

    &__quote {
      max-width: 436px;
    }
  }
}