.newscard {
  position: relative;
  margin-bottom: 1em;

  &:first-child {
    .newscard__container {
      color: $alt-text-color;
      position: relative;
      height: 400px;

      &:before {
        @include background-gradient;
        border-radius: 10px;
      }
    }

    .news__container--info {
      position: absolute;
      bottom: 0;
      padding: 1.3rem;
      color: $alt-text-color;
    }

    .newscard__img {
      width: 100%;
      max-height: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }

    .newscard__title {
      font-size: 1.4em;
      margin-bottom: 0.5em;
      text-overflow: initial;
      max-width: 35rem;
      white-space: wrap;
      overflow: visible;
    }
  }

  &__container {
    position: relative;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 0.6em;
  }

  &__title {
    position: relative;
    font-size: 1.2em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__link {
    position: absolute;
    inset: 0;
  }

  &__view {
    color: $alt-text-color;
    position: absolute;
    bottom: 1.3rem;
    right: 1.3rem;
    line-height: 1.6;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    &:before {
      margin-left: 0.5rem;
      margin-right: 0;
    }
  }
}

@media screen and (min-width: $tablet) {
  .newscard {
    margin-bottom: 0;

    &:first-child {
      .news__container--grid-4 & {
        grid-column: span 3;
      }

      .news__container--grid & {
        grid-column: span 2;
        grid-row: span 2
      }

      .newscard__container {
        height: 100%;
      }

      .news__container--info {
        max-width: 35rem;
      }

      .newscard__title {
        font-size: 2.4em;
        margin-bottom: 0.3em;
      }
    }

    &__title {
      max-width: 277px;
    }
  }
}