.news {
  position: relative;
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }

  &__container {
    &--info {
      position: absolute;
      bottom: 0;
      padding: 2rem;
      color: $alt-text-color;
    }

    &--title {
      grid-column: span 2;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media screen and (min-width: $tablet) {
  .news {
    &__container {
      &--grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.8em;
      }
    }
  }
}

@media screen and (min-width: 1024px){
  .news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;

    &__title {
      grid-column: span 2;
    }

    &__container {
      &--grid {
        &-4 {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 1em;

          & > article {
            //min-height: 500px;
          }
        }
      }
    }
  }
}