.newscard {
  position: relative;
  margin-bottom: 1em;

  &--last {
    position: relative;
    margin-bottom: 1em;
  }

  &__container {
    position: relative;

    &--last {
      position: relative;

      &:before {
        @include background-gradient;
        border-radius: 10px;
      }
    }
  }

  &__img {
    width: 100%;
    min-height: 159px;
    max-height: 213px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 0.6em;

    &--last {
      width: 100%;
      min-height: 272px;
      height: auto;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  &__title {
    position: relative;
    font-size: 1.2em;

    &--last {
      font-size: 1.4em;
    }
  }

  &__link {
    position: absolute;
    inset: 0;
  }

  &__view {
    color: $alt-text-color;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    line-height: 1.6;

    &:after {
      content: " >";
    }
  }
}

@media screen and (min-width: $laptop) {
  .newscard {
    &--last {
      position: relative;
      margin-bottom: 0;
    }

    &__title {
      &--last {
        font-size: 2.4em;
        margin-bottom: 0.3em;
      }
    }

    &__container {
      &--last {
        height: 100%;
      }
    }

    &__img {
      &--last {
        height: 100%;
      }
    }
  }
}