.statcard {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
  text-align: left;

  &__number {
    font-size: 46px;
    margin-bottom: 0.4em;
    font-weight: 600;
    padding-bottom: 2rem;
    border-bottom: 1px solid #FFF;
  }

  &__text {
    max-width: 150px;
  }
}

@media screen and (min-width: $tablet){
  .statcard {
    margin-bottom: 0;
  }
}

@media screen and (min-width: $laptop){
  .statcard {
    &__number {
      font-size: 72px;
    }
  }
}