.statistics {
  position: relative;
  text-align: center;
}

@media screen and (min-width: $tablet) {
  .statistics {

    &__container {
      display: flex;
      justify-content: center;
      gap: 5em;
    }
  }
}

@media screen and (min-width: $laptop) {
  .statistics {
    &__container {
      justify-content: space-evenly;
    }
  }
}