.statistics {
  position: relative;
  padding: 45px 0;
  text-align: center;
  @include side-padding-section;
}

@media screen and (min-width: $tablet) {
  .statistics {

    &__container {
      display: flex;
      justify-content: center;
      gap: 5em;
    }
  }
}