.statcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.2em;

  &__number {
    font-size: 46px;
    margin-bottom: 0.4em;
  }

  &__text {
    max-width: 150px;
  }
}