.testimonials {
  padding-bottom: 0;

  &__title {
    text-align: center;

  }

  &__container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 10px;
  }
}

@media screen and (min-width: $tablet){
  .testimonials {
    &__container {
      gap: 1em;
    }
  }
}