.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 0;
  @include side-padding-section;

  &__image {
    margin-bottom: 1.4em;
  }
}

@media screen and (min-width: $tablet){
  .history {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;


    &__title {
      flex: 0 0 100%;
    }

    &__content, &__image {
      flex-basis: 48%;
      margin: 0;
    }
  }
}