.house {
  padding-bottom: 2rem;
  max-width: 1200px;
  margin: auto;
  padding-left: 24px;
  padding-right: 24px;

  &__address {
    font-weight: bold;
    margin-bottom: 1.5em;
    border-bottom: 1px solid $alt-text-color;
    padding-bottom: 2rem;
  }

  &__image {
    object-fit: cover;
    max-width: 482px;
    max-height: 400px;
  }
}

@media screen and (min-width: $tablet) {
  .house {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 550px;
    }

    &__image {
      height: 100%;
      max-height: 650px;
    }
  }
}

@media screen and (min-width: $laptop) {
  .house {
    padding-bottom: 0;

    &__image {
      order: -1;
    }
  }
}