.houses {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;

  &__container {
    &--upper {
      padding: 45px 24px;
    }

    &--bg {
      padding: 45px 0;

      &:nth-child(even) {
        background-color: $text-color;
        color: $alt-text-color;

        .img__container {
          position: relative;
          z-index: 10;

          &:after {
            background-image: radial-gradient($alt-text-color 1.25px, rgba(255, 255, 255, 0) 1.25px);
            transform: translate(5%, 5%);
          }
        }

        & > .house {
          flex-direction: row-reverse;
        }
      }

      &:nth-child(odd) {
        .house__address {
          border-bottom: 1px solid $text-color;
        }

        .img__container {
          &:after {
            transform: translate(-5%, 5%);
          }
        }
      }
    }
  }

  &__content {
    max-width: 487px;
  }

  &__title {
    text-align: left;
    margin: 0 0 1em 0;
  }
}


@media screen and (min-width: $tablet) {
  .houses {
    &__container {
      gap: 2rem;

      &--upper {
        display: flex;
        justify-content: space-between;
        margin: auto;
        max-width: 1200px;
        width: 100%;
        gap: 5rem;
      }

      &--bg {
        padding-top: 5rem;
        padding-bottom: 5rem;
      }
    }
  }
}


@media screen and (min-width: $laptop) {
  .houses {
    &__container {
      &--upper {
        padding-top: 100px;
        padding-bottom: 100px;
      }
    }
    &__content {
      margin-bottom: 5em;
    }
  }
}