.mission {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    margin-bottom: 1.4em;
  }
}

@media screen and (min-width: $tablet) {
  .mission {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4em;

    &__title {
      grid-column: span 2;
      margin: 0 0 1em 0;
      text-align: left;
    }

    &__content, &__image {
      margin: 0;
    }

    &__image {
      order: 1;
      object-fit: cover;
      height: 100%;
    }
  }
}

@media screen and (min-width: $laptop) {
  .mission {
    column-gap: 10em;
    align-items: center;
  }
}