.more {
  display: flex;
  flex-direction: column;

  &__title {
    text-align: left;
  }

  &__text {
    margin-bottom: 1.8em;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__link {
    width: 100%;
    padding: 1em 0;
    font-size: 1.2em;
    border-bottom: 1px solid $alt-border-color;
    display: flex;
    justify-content: space-between;
    gap: 10em;

    &:after {
      content: url("../img/arrow.svg");
    }
  }
}

@media screen and (min-width: $tablet) {
  .more {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: $laptop) {
  .more {
    &__upper {
      max-width: 400px;
    }

    &__container {
      width: 500px;
    }
  }
}