@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf") ;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.ttf") ;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.ttf?46fvgv') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

body {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  color: $text-color;
}

p {
  line-height: 1.6;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h2 {
  font-size: 31px;
  margin: 0 auto 1em auto;
  text-align: center;
  max-width: 716px;

  &[data-variant="secondary"] {
    font-weight: normal;
    display: flex;
    flex-direction: column;

    & > span {
      font-weight: bold;
    }
  }
}


a {
  text-decoration: none;
  color: $text-color;
  display: inline-block;
}

a.active {
  color: $active-text-color;
  font-weight: bold;

  &:after {
    width: 20px;
    background-color: $active-text-color;
  }

  &-alt {
    color: $alt-text-color;
    font-weight: bold;

    &:after {
      width: 20px;
      background-color: $alt-text-color;
    }
  }
}

strong {
  font-weight: bold;
}

dt {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 0.3em;
}

dd {
  margin-bottom: 1em;
}

input, textarea, button {
  font-size: inherit;
  font-family: inherit;
}

@media screen and (min-width: $tablet) {
  h2 {
    font-size: 42px;
  }
}

@media screen and (min-width: $laptop) {
  h2 {
    font-size: 46px;
  }
}

/* TODO : A DEPLACER */
img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}