$text-color: #283345;
$alt-text-color: #F3F9FE;
$active-text-color: #4F72A5;
$white: #FFFFFF;

$background-color: #283345;

$cta-background-color: #4F72A5;
$cta-text-color: #F3F9FE;
$alt-cta-text-color: #4F72A5;

$hover-cta-background-color: rgb(45, 106, 141);

$alt-cta-background-color: #F3F9FE;

$card-color: #E5EEF5;
$input-color: #E5EEF5;

$border-color: #283345;
$alt-border-color: #F3F9FE;

$red: #D04343;

$tablet: 768px;
$laptop: 1024px;

$test: #265A79;