$text-color: #1B2B39;
$alt-text-color: #F3F9FE;
$active-text-color: #265A79;
$white: #FFFFFF;

$background-color: #1B2B39;

$cta-background-color: #265A79;
$cta-text-color: #F3F9FE;
$alt-cta-text-color: #265A79;

$hover-cta-background-color: rgb(45, 106, 141);

$alt-cta-background-color: #F3F9FE;

$card-color: #E9F1F7;
$input-color: #E9F1F7;

$border-color: #1B2B39;
$alt-border-color: #F3F9FE;

$red: #D04343;

$tablet: 768px;
$laptop: 1024px;