$text-color: #1B2B39;
$alt-text-color: #F3F9FE;
$active-text-color: #265A79;
$white: #FFFFFF;

$background-color: #1B2B39;

$cta-background-color: #265A79;
$cta-text-color: #F3F9FE;

$alt-cta-background-color: #F3F9FE;