.footer {
  position: relative;
  padding: 35px 0;
  @include side-padding-section;

  &__brand {
    position: relative;
    margin-bottom: 1em;

    img {
      width: auto;
      border-radius: 0;
    }
  }

  &__quote {
    margin-bottom: 1.5em;
  }

  &__subtitle {
    margin-bottom: 0.5em;
    font-size: 1.1em;
  }

  &__container {
    margin-bottom: 35px;
  }

  &__upper {
    margin-bottom: 2em;
  }
}

@media screen and (min-width: $tablet) {
  .footer {
    &__container {
      &--nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }
}