.juridic {
  padding-top: 2em;
  border-top: 1px solid $alt-text-color;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin-bottom: 0.5em;
  }
}

@media screen and (min-width: $tablet) {
  .juridic {
    &__container {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}