.sidebar {
  h3 {
    font-size: 1.1em;
    margin-bottom: 0.5em;
  }

  li {
    padding: 1em 0;
  }
}

@media screen and (min-width: $tablet) {
  .sidebar {
    li {
      padding: 0.5em 0;
    }
  }
}